<div class="row">
  <div class="col-xs-12">
    <form
      #ingredientForm="ngForm"
      (ngSubmit)="onSubmit(ingredientForm)">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name">Name</label>
          <input
            ngModel
            name="name"
            type="text"
            id="name"
            class="form-control"
            required>
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount">Amount</label>
          <input
            ngModel
            name="amount"
            type="number"
            id="amount"
            class="form-control"
            required
            [pattern]="'^[1-9]+[0-9]*$'">
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="btn-toolbar">
            <button
              class="btn btn-success mr-1"
              type="submit"
              [disabled]="ingredientForm.invalid"
            >{{ editMode ? 'Update' : 'Add' }}</button>
            <button
              *ngIf="editMode"
              class="btn btn-danger mr-1"
              type="button"
              (click)="onDelete()">Delete</button>
            <button class="btn btn-primary" type="button" (click)="onResetForm()">Clear</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
